Node-Red flow.json
[{"id":"5992f228.1d0fcc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cfc2d114.bf34c","type":"ui_group","z":"","name":"Group","tab":"8b6e2dd7.f63e4","order":1,"disp":true,"width":"10","collapse":false},{"id":"5f64e6.e8049b1c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8b6e2dd7.f63e4","type":"ui_tab","z":"","name":"Customer Chatbot","icon":"dashboard","disabled":false,"hidden":false},{"id":"bb7b3206.dbe78","type":"ui_group","z":"","name":"Group 2","tab":"8b6e2dd7.f63e4","order":2,"disp":true,"width":"6","collapse":false},{"id":"ef49b734.aa9ff8","type":"ui_spacer","name":"spacer","group":"bb7b3206.dbe78","order":1,"width":1,"height":1},{"id":"20e47051.773f","type":"ui_form","z":"5992f228.1d0fcc","name":"","label":"","group":"cfc2d114.bf34c","order":2,"width":0,"height":0,"options":[{"label":"Enter the message","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":300,"wires":[["802044ca.720168"]]},{"id":"802044ca.720168","type":"function","z":"5992f228.1d0fcc","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["c71ac7e9.ad7208","68a8a76f.b4cb18"]]},{"id":"c71ac7e9.ad7208","type":"ui_text","z":"5992f228.1d0fcc","group":"cfc2d114.bf34c","order":1,"width":0,"height":0,"name":"","label":"input","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":420,"wires":[]},{"id":"68a8a76f.b4cb18","type":"watson-conversation-v1","z":"5992f228.1d0fcc","name":"Assistant","workspaceid":"737d1dbc-6e5e-400e-9e9d-939080b55d3f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/e820de4f-f4b9-4840-9cb3-747b3c2fe9e6","timeout":"","optout-learning":false,"x":500,"y":140,"wires":[["cd1326c.26f5ad8","d2150455.4e4ad8"]]},{"id":"cd1326c.26f5ad8","type":"function","z":"5992f228.1d0fcc","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":240,"wires":[["2fc934fd.0bb67c"]]},{"id":"d2150455.4e4ad8","type":"debug","z":"5992f228.1d0fcc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":60,"wires":[]},{"id":"2fc934fd.0bb67c","type":"ui_text","z":"5992f228.1d0fcc","group":"bb7b3206.dbe78","order":2,"width":"6","height":"16","name":"","label":"text","format":"{{msg.payload}}","layout":"col-center","x":850,"y":360,"wires":[]}]